<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="index">
    <div class="container">
        <h1>Upload Feedback CSV</h1>
        <p>Please upload a CSV file containing customer complaint for classification and routing. (With Column Name as feedback)</p>
        
        <form action="{{ url_for('upload_csv') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv" required>
            <button type="submit">Upload and Classify</button>
        </form>
    </div>
</body>
</html>
